<?php header('Content-type: text/css');?>
@CHARSET "UTF-8";
.cercle-big-blue {
	display:inline;
    width: 620px;
    height: 620px;
    border-radius: 330px;
    border: 15px solid darkblue;
    background: white;
    text-align: center;
    float: left;
}
.cercle-big-lightblue {
	display:inline;
    width: 620px;
    height: 620px;
    border-radius: 330px;
    border: 15px solid lightblue;
    background: white;
    text-align: center;
    float: left;
}
.cercle-big-red {
	display:inline;
    width: 620px;
    height: 620px;
    border-radius: 330px;
    border: 15px solid salmon;
    background: white;
    text-align: center;
    float: left;
}

.cercle-medium {
	display:inline;
    width: 410px;
    height: 410px;
    border-radius: 220px;
    border: 15px solid darkblue;
    background: white;
    text-align: center;
    float: left;
}

.cercle-small-blue {
	display:inline;
    width: 200px;
    height: 200px;
    border-radius: 210px;
    border: 10px solid lightblue;
    background: white;
    text-align: center;
    float: left;
}

.cercle-small-red {
	display:inline;
    width: 200px;
    height: 200px;
    border-radius: 210px;
    border: 10px solid salmon;
    background: white;
    text-align: center;
    float: left;
}

.cercle-small-yellow {
	display:inline;
    width: 200px;
    height: 200px;
    border-radius: 210px;
    border: 10px solid khaki;
    background: white;
    text-align: center;
    float: left;
}

.cercle-small-orange {
	display:inline;
    width: 200px;
    height: 200px;
    border-radius: 210px;
    border: 10px solid moccasin;
    background: white;
    text-align: center;
    float: left;
}

.cercle-small-black {
	display:inline;
    width: 200px;
    height: 200px;
    border-radius: 210px;
    border: 10px solid lightgrey;
    background: white;
    text-align: center;
    float: left;
}

.cercle-small-green {
	display:inline;
    width: 200px;
    height: 200px;
    border-radius: 210px;
    border: 10px solid olive;
    background: white;
    text-align: center;
    float: left;
}