<?php header('Content-type: text/css');?>
@CHARSET "UTF-8";
body {  /* webkit adjacent sibling bug fix */
	-webkit-animation: bugfix infinite 1s; 
}

@-webkit-keyframes bugfix { 
	from {padding:0;} 
	to {padding:0;} 
}

<?php

for ($i=1 ; $i<=3 ; $i++){
echo "

div.navblock-$i{
    position: relative;
    display: block;
    width: 80%;
    -webkit-perspective: 1000px;
    perspective: 1000px;

}

div.navblock-$i div.menuflip-$i{ /* DIV that flips over to reveal main menu */
    position: absolute;
    margin: 0;
    top: 0;
    padding: 4px;
    background: white;
    width: 800px;
    border: 1px solid gray;
    -webkit-box-shadow: 2px 2px 15px #B5B5B5;
    box-shadow: 2px 2px 15px #B5B5B5;
    border-radius: 10px;
    background: #eee;
}

div.navblock-$i label.mainlabel-$i{ /* menu anchor text style */
    width: 800px; /* width of anchor text */
    font: bold 20px Tahoma;
    position: relative;
    top: 0;
    display: block;
    padding-left: 34px; /* add left-right padding to make room for icon */
    cursor: pointer;
}
div.navblock-$i div.maintext-$i{ /* menu anchor text style */
    width: 800px; /* width of anchor text */
    position: relative;
    top: 30px;
    display: block;
}

div.navblock-$i div.maintext-$i, div.navblock-$i label.mainlabel-$i, div.navblock-$i div.menuflip-$i{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* transform transition speed etc */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; 
}




div.navblock-$i label.mainlabel-$i:before{ /* menu anchor icon */
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    font: bold 27px Tahoma;
    content: '\\2B1F';
    
    
    width: 20px;
    height: 20px;
    border:11px solid darkblue;
    -webkit-box-shadow: inset 0 0 2px gray, 0 0 5px gray;
    box-shadow: inset 0 0 2px gray, 0 0 5px gray;
    border-radius: 40px;
}


div.navblock-$i input.flip-$i{
	display: none;
}


div.navblock-$i div.menuflip-$i h4{
    margin: 0;
    margin-bottom: 4px;
    font-size: 20px;
    padding: 4px 0 0 6px;
}

div.navblock-$i div.menuflip-$i div{
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px inset gray;
    border-bottom: none;
}

div.navblock-$i div.menuflip-$i div:hover{
    border-bottom-color: transparent;
}


div.navblock-$i div.menuflip-$i div a.flip-$i{
    display: block;
    color: blue;
    text-decoration: none;
    padding: 6px;
    border-radius: 10px 0 10px;
    -webkit-transition: none;
    transition: none;
}


div.navblock-$i div.menuflip-$i div a.flip-$i:hover{
    background: #515151;
    color: white;
}


div.navblock-$i div.menuflip-$i label.close-$i{ /* close button */
    position: absolute;
    right: 5px;
    top: 8px;
    padding-top: 1px;
    display: inline-block;
    text-align: center;
    line-height: 14px;
    color: white;
    z-index: 1000;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border:11px solid darkblue;
    -webkit-box-shadow: inset 0 0 2px gray, 0 0 5px gray;
    box-shadow: inset 0 0 2px gray, 0 0 5px gray;
    border-radius: 40px;
    background: black;
    font-size: 18px;
}


div.navblock-$i input.flip-$i:checked ~ label.mainlabel-$i{
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
div.navblock-$i input.flip-$i:checked ~ div.menuflip-$i{
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
}
div.navblock-$i div.menuflip-$i{
	-webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

";

}

?>

